.page-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 100%;
  background: #1c1c1c;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.column-1 {
  margin-left: 96px;
  @media (max-width: 1176px) {
    margin-left: 0;
  }
}

.column-2 {
  margin-right: 96px;
  @media (max-width: 1176px) {
    margin-right: 0;
  }
}

#col-1 {
  align-items: flex-end;
  margin-right: 24px;

  @media (max-width: 1226px) {
    align-items: center;
    margin-right: 0;
  }
}

#col-2 {
  align-items: flex-start;
  margin-left: 24px;

  @media (max-width: 1226px) {
    align-items: center;
    margin-left: 0;
  }
}
