<div id="weather-container">
  <div class="wrapper">
<!--    <span class="weather-icon material-symbols-outlined">{{weatherData?.icon}}</span>-->
    <p class="weather-widget-row">
<!--      <span class="weather-icon material-symbols-outlined">my_location</span>-->
      <span class="weather-icon material-symbols-outlined">{{weatherData?.icon}}</span>
      {{weatherData?.location}}
    </p>
    <p class="weather-widget-row">Temperature: {{weatherData?.temp}}°F</p>
    <p class="weather-widget-row">Feels Like:  {{weatherData?.feelsLike}}°F</p>
    <p class="weather-widget-row">Description: {{weatherData?.description}}</p>
    <p class="weather-widget-row">Humidity: {{weatherData?.humidity}}%</p>
    <p class="weather-widget-row">Sunrise: {{weatherData?.sunrise}}</p>
    <p class="weather-widget-row">Sunset: {{weatherData?.sunset}}</p>
  </div>
</div>
