#weather-container {
  border-radius: 10px;
  width: 300px;
  height: 320px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgb(23, 23, 25) 0%, rgb(9, 9, 11) 75%, rgb(15, 15, 18) 100%);
  color: white;
}

.weather-widget-row {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.weather-icon {
  display: flex;
  justify-content: center;
  color: white;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.icon {
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: iconMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes iconMovement {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 65px;
  }
}

.mat-mdc-dialog-surface, .mdc-dialog__surface {
  background: transparent !important;
}

.wrapper {
  justify-content: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}
