
.link-text {
  color: white;
  padding-left: 5px;
}

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;

  &.icon {
    padding: 0;
  }
}

.list {
  background: #2d2c2c;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.section-container {
  width: 480px;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (max-width: 650px) {
    width: 300px
  }

  @media (max-width: 500px) {
    width: 280px
  }
}

.heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #424040;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .mat-mdc-card-content {
    padding: 16px 16px 16px 4px;
  }
}

.divider {
  border-top-color: white;
}

mat-list-item:hover {
  background: #212121;
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
}
